<br>

<ul class="list-group" *ngIf="loaded && logs?.length > 0">
  <li *ngFor="let log of logs" [class.list-group-item-secondary]="selectedLog === log" class="list-group-item d-flex justify-content-between align-items-center">
    <a (click)="onSelect(log)" href="#">{{ log.text }}</a>
    <span class="log-date">{{ log.date | date: 'short' }}</span>
    <i (click)="onDelete(log)" class="fas fa-minus-circle"></i>
  </li>
</ul>

<div class="container" *ngIf="loaded && logs.length == 0">
  <h5>No open logs currently in the system...</h5>
</div>

<div class="container" *ngIf="!loaded">
  <img src="https://misaliados.com.co/rsc/img/loading.gif" alt="">
</div>
